{project_plugins, [rebar3_proper]}.
{erl_opts, [no_debug_info]}.
{deps, [
         {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3.1"}}}
       ]}.

{escript_incl_apps, [sortz]}.
{escript_main_app, sortz}.
{escript_name, sortz}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
%% Profiles
{profiles, [{test,
             [
              {erl_opts, [nowarn_export_all, debug_info]},
              {deps, [proper, iso8601]},
              {cover_enabled, true}
            ]}]}.
