{project_plugins, [rebar3_proper]}.
{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [memoize]}.
{escript_main_app, memoize}.
{escript_name, memoize}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [nowarn_export_all, debug_info]},
              {deps, [proper]}
            ]}]}.
